* {
    margin: 0px;
    }

.restaurants {
    display: flex;
    justify-content: center;
    border: 2px solid red;
    flex-direction: column;
    width: 400px;
}

.list_header {
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.restaurants_list {
    display: flex;
    border: 2px solid blue;
    flex-flow: column;

}


    